:root {
    --darkpurple: #180d38;
    --lightpurple: rgb(223, 83, 223);
    --purple:rgb(70, 13, 89);
    --white: #fff;
    --lightred: rgba(107, 22, 22, 0.5);
    --lightblue: #4b22c9;
}

* {
    box-sizing: border-box;
    font-family: Noto Sans TC, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

/* Avatar */
.avatar {
   height: 50px;
   border-radius: 50%;

}

/* Name and NavBar section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #180d38;
    color: var(--white);
}

h1{
    animation: pulsate 0.11s ease-in-out infinite alternate;
    margin-left: 20px;
    flex: auto;
}

main {
    display: flex;
    flex-direction: column; 
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style: none;
    column-count: 4;
    column-gap: 2px;
    column-rule: #b9C6ae;
}
 
nav a {
    color: #b9C6ae;
    font-weight: bold;
    text-decoration: none;
    margin: 1rem 2rem;
}
  
nav a:hover {
    color: #fff;
}

/* Contact section */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #4b22c9;
    color: var(--white);
}

footer h3 {
    text-align: center;
    margin-left: 20px;
    font-size: 1.5rem;
}

/* Banner Image */
.banner {
    position: relative;
    background-image: url(../assets/images/aimatrix.jpg);
    background-size: cover;
    height: 200px;
    overflow: hidden;
}

/* About section */
.about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #4b22c9;
    border-bottom: 2px solid rgb(37, 9, 9);
    padding: 20px;

   
}

.about-title {
    background-color: var(--lightblue);
    color: var(--white);
    text-decoration: underline;
    text-underline-position: under;
    padding: 5%;
    width: 150px;
    margin-bottom: 5px;
    font-size: 1.5rem;
    text-align: center;
    flex: 0 1 auto;
}

.about p {
    background-color: var(--lightblue);
    color: whitesmoke;
    font-size: 1.1rem;
    width: 70%;
    font-style: italic;
    padding: 2%;

}

/* Portfolio Section */
.row {
    background-color: var(--purple);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;  
    padding: 20px;
}
 
.card {
    height: 200px;
    width: 400px;
    margin: 10px;
    border: 3px solid rgb(139, 6, 57);
    background-color: rgb(17, 92, 92);
    border-style: solid;
    position: relative;
    background-size: cover;
    overflow: hidden;
    float: right;
    
}

.card img {
    width: 100%;
    object-fit: contain;  
 }
 
.card-title {
    background-color: brown;
    color: whitesmoke;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    background-color: var(--lightred);
    padding: 10px;
    bottom: 1rem;
    left: 0;
    box-sizing: border-box;
    color: var(--white);
    margin: 0; 
} 

.card-one {
    width: 70%;
    height: 400px;
    background-size: cover;
    overflow: hidden;
    float: right;
}

/* Card headers */
.titles {
    background-color: var(--purple);
    color: var(--white);
    

}  

.titles h2 {
    background-color: var(--purple);
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
    font-size: 1.75rem;
    width: 100%;
    margin-bottom: 5px;
}
 
.card:hover {
    box-shadow: 0 8px 16px 0 var(--white);
}
 
/* Accessibility */
@media screen and (max-width: 768px) {
    header, main, footer {
      flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    nav ul, nav ul li {
        flex-direction: column;
        background-color: var(--purple);
        padding:5px;
        text-align: center;
        border: 2px solid black;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 768px) {
    .card-one {
        height: 200px;
        width: 400px;
        margin: 10px;
        border: 3px solid rgb(139, 6, 57);
        background-color: rgb(17, 92, 92);
        border-style: solid;
        position: relative;
        background-size: cover;
        overflow: hidden;
        float: right;    
    }    
}

/* Code below from https://css-tricks.com/how-to-create-neon-text-with-css/ */
@keyframes pulsate {
    
    100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #f09,
        0 0 80px #f09,
        0 0 90px #f09,
        0 0 100px #f09,
        0 0 150px #f09;
    
    }
    
    0% {
  
      text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px #f09,
      0 0 73px #f09,
      0 0 80px #f09,
      0 0 94px #f09,
      0 0 140px #f09;
  
  }
}